h1 {
    color: #4aa570 !important;
}
h3 {
    color: #4aa570 !important;
}
h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer .container {
    max-width: 800px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.navbar {
    margin-bottom: 0px !important;
}
.navbar .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#main-container {
    padding: 0 0 50px 0;
}
.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.page-header {
    margin: 20px 0 20px !important; 
}

/* Alert */
.alert {
    margin-top: 10px;
    display:none;
}
.alert.show {
    display: block;
}
#prod_name {
    font-weight: bold;
}

