#options_table {
}
#option_row {
}
#option-price.error {
   -moz-transition: all 1s linear;
   -webkit-transition: all 1s linear;
   -o-transition: all 1s linear;
   transition: all 1s linear;
}

#option-price.error:focus {
    border: 1px solid red !important;
}
