{% extends "base.html" %} 

{% block title %}
Create Customer
{% end %}

{% block additional_js %} 
{% end %}

{% block content %}
<div class="page-header">
    <h1>Create Customer</h1>
    <p class="lead"></p>
</div>
<form method="POST" action="/customer/create">
    {% module xsrf_form_html() %}
    <div class="form-group">
        <label for="exampleInputEmail1">Customer Name</label>
        <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="First & Last Name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Customer Email</label>
        <input type="email" class="form-control" id="customer_email" name="customer_email"  placeholder="Email">
    </div>
    <!--div class="checkbox">
        <label>
          <input type="checkbox"> Coffee Club Membership 
        </label>
    </div-->
    <div class="checkbox">
        <label>
          <input type="checkbox" name="newsletter_opt"> Newsletter 
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% end %}
