{% extends "base.html" %} 

{% block title %}
Edit Customer
{% end %}

{% block additional_js %} 
{% end %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/customers">Customers</a></li>
    <li class="active">{{ customer['cust_name'] }}</li>
</ul>
<div class="page-header">
    <h1>Edit Customer</h1>
    <p class="lead"></p>
</div>
<form method="POST" action="/customer/edit/{{ customer['id'] }}">
    {% module xsrf_form_html() %}
    <input type="hidden" name="customer_id" value="{{ customer['id'] }}" />
    <div class="form-group">
        <label for="exampleInputEmail1">Customer Name</label>
        <input type="text" class="form-control" id="customer_name" name="customer_name" value="{{ customer['cust_name'] }}">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Customer Email</label>
        <input type="email" class="form-control" id="customer_email" disabled="disabled" name="customer_email" value="{{ customer['cust_email'] }}">
    </div>
    <div class="checkbox">
        <label>
          <input type="checkbox" name="newsletter_opt"
            {{ 'checked' if customer['newsletter_opt'] else "" }}
            {{ 'value="1"' if customer['newsletter_opt'] else "" }}> Newsletter 
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% end %}
