{% extends "base.html" %} 

{% block title %}
Customers
{% end %}

{% block additional_js %} 
<script src="/js/customers.js"></script>
{% end %}

{% block content %}
<div class="page-header">
    <h1>Customers</h1>
    <p class="lead"></p>
</div>
<div class="form-group">
<button type="submit" class="btn btn-default new_customer">Create Customer</button>
{% if len(customers)>0 %}
<button type="submit" class="btn btn-default customers_csv">Download CSV</button>
{% end %}
</div>
{% if len(customers)>0 %}
<table class="table table-striped">
    {% module xsrf_form_html() %}
    <thead>
        <tr>
            <th>Name</th> 
            <th>Email</th> 
            <th></th> 
        </tr>
    </thead>
    <tbody>
        {% if len(customers)>0 %}
            {% for customer in customers %}
                <tr>
                    <td>{{ customer['cust_name'] }}</td>
                    <td>{{ customer['cust_email'] }}</td>
                    <td>
                        <button type="submit" ref="{{ customer['id'] }}" class="btn btn-default edit_customer">Edit</button>
                        <button type="submit" ref="{{ customer['id'] }}"class="btn btn-default delete_customer">Delete</button>
                    </td>
                </tr>
            {% end %}
        {% end %}
    </tbody>
</table>
{% end %}
{% end %}
