<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Customers</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/customers.js"></script>

    <!-- Custom styles for this template -->
    <link href="/css/grid.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
              
    <div id="main-container" class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Rostovs Tab Admin</a>
            </div>
            <ul class="nav navbar-nav pull-right">
              <li><a href="/products">Products</a></li>
              <li class="active"><a href="/customers">Customers</a></li>
            </ul>
          </div>
        </nav>
        <div class="page-header">
            <h1>Customers</h1>
            <p class="lead"></p>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-default new_customer">Create</button>
        </div>
        <table class="table table-striped">
            {% module xsrf_form_html() %}
            <thead>
                <tr>
                    <th>Id</th> 
                    <th>Name</th> 
                    <th>Email</th> 
                    <th></th> 
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer['id'] }}</td>
                        <td>{{ customer['cust_name'] }}</td>
                        <td>{{ customer['cust_email'] }}</td>
                        <td>
                            <button type="submit" ref="{{ customer['id'] }}" class="btn btn-default edit_customer">Edit</button>
                            <button type="submit" ref="{{ customer['id'] }}"class="btn btn-default delete_customer">Delete</button>
                        </td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div> <!-- /container -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted"></p>
      </div>
    </footer>
</body>
</html>

