{% extends "base.html" %} 
        
{% block title %}
Home
{% end %}

{% block content %}
<div class="page-header">
    <h1>Home</h1>
    <p class="lead"></p>
</div>
<a class="btn btn-default" href="/transactions/new">New Transaction</a>
{% end %}
