{% extends "base.html" %} 

{% block title %}
Login 
{% end %}

{% block additional_js %} 
{% end %}

{% block content %}
<div class="page-header">
    <h1>Login</h1>
    <p class="lead"></p>
</div>
<form action="/login" method="POST">
    {% module xsrf_form_html() %}
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" tabindex="1" placeholder="">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" tabindex="1" placeholder="">
    </div>
    <!--div class="form-group">
        <label for="exampleInputFile">Product Image</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div-->
    <!--div class="checkbox">
        <label>
          <input type="checkbox"> 
        </label>
    </div-->
    <hr>
    <button type="submit" class="btn btn-default" tabindex="5">Submit</button>
</form>
{% end %}
