{% extends "base.html" %} 

{% block title %}
Edit Product 
{% end %}

{% block additional_js %} 
<script src="/js/create_edit_product.js"></script>
{% end %}

{% block content %}

<ul class="breadcrumb">
    <li><a href="/products">Products</a></li>
    <li class="active">{{ prod['prod_name'] }}</li>
</ul>
<div class="page-header">
    <h1>Edit Product</h1>
    <p class="lead"></p>
</div>
<form id="edit_product_form" action="/product/edit/{{ prod['id'] }}" method="POST">
    {% module xsrf_form_html() %}
    <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input type="text" class="form-control" id="prod_name" name="prod_name" tabindex="1" value="{{ prod['prod_name'] }}">
    </div>
    <!--div class="form-group">
        <label for="exampleInputFile">Product Image</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div-->
    <!--div class="checkbox">
        <label>
          <input type="checkbox"> 
        </label>
    </div-->
    <h5>Options<small> (e.g. Size)</small></h5>
    <div class="form-group {% if prod_opts is None %}hide{% end %}" id="options_table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th> 
                    <th>Price</th> 
                    <th></th> 
                </tr>
            </thead>
            <tbody>
                {% if prod_opts is not None %}
                    {% for opt in prod_opts %}
                    <tr id="option_row-{{ opt['opt_id'] }}">
                        <!--input type="hidden" name="opt_id-{{ opt['opt_id'] }}" value="{{ opt['opt_id'] }}" /-->
                        <td class="name"><input type="text" name="option-name-{{ opt['opt_id'] }}" value="{{ opt['prod_opt_name'] }}"></td>
                        <td class="price"><input type="text" name="option-price-{{ opt['opt_id'] }}" value="{{ opt['prod_opt_price'] }}"></td>
                        <td class="actions">
                            <input type="button" ref="{{ opt['opt_id'] }}" class="btn btn-default delete_product_option" value="Delete">
                        </td>
                    </tr>
                    {% end %}
                {% else %}
                    <tr id="first_option_row">
                        <td class="name"></td>
                        <td class="price"></td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    <div id="option-group" class="form-inline">
        <div class="form-group" >
            <input type="text" class="form-control" id="option-name" tabindex="2" placeholder="Name (e.g. Small)">
            <!--p class="help-block"> (e.g. Small)</p-->
        </div>
        <div class="form-group" >
            <input type="text" class="form-control" id="option-price" tabindex="3" placeholder="Price (USD)">
        </div>
        <div class="form-group" >
            <a class="btn btn-default" role="button" tabindex="4" id="add_option_button">Add</a> 
        </div>
    </div>
    <hr>
    <button id="submit_edit" type="submit" class="btn btn-default" tabindex="5">Submit</button>
</form>
<div id="edit-success-alert" class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Success!</strong> Your product been updated.
</div>
{% end %}
