{% extends "base.html" %} 

{% block title %}
Products
{% end %}

{% block additional_js %} 
<script src="/js/products.js"></script>
{% end %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="delete_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <input type="hidden" id="prod_id" value="" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Product?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span id="prod_name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="confirm_delete" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="page-header">
    <h1>Products</h1>
    <p class="lead"></p>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-default new_product">Create</button>
</div>

{% if len(products)>0 %}
<table class="table table-striped">
    {% module xsrf_form_html() %}
    <thead>
        <tr>
            <th>Name</th> 
            <th>Actions</th> 
        </tr>
    </thead>
    <tbody>
            {% for prod in products %}
                <tr>
                    <td>{{ prod['prod_name'] }}</td>
                    <td>
                        <button type="submit" ref="{{ prod['id'] }}" class="btn btn-default edit_product">Edit</button>
                        <button type="submit" ref="{{ prod['id'] }}"class="btn btn-default delete_product">Delete</button>
                    </td>
                </tr>
            {% end %}
    </tbody>
</table>
{% else %}
<p>There are no products</p>
{% end %}
{% end %}

