{% extends "base.html" %} 

{% block title %}
Create Product 
{% end %}

{% block additional_js %} 
<script src="/js/create_edit_product.js"></script>
{% end %}

{% block content %}
<div class="page-header">
    <h1>Create Product</h1>
    <p class="lead"></p>
</div>
<!--ul class="breadcrumb">
    <li><a href="/products">Products</a></li>
    <li class="active">Create</li>
</ul--> 
<form action="/product/create" method="POST">
    {% module xsrf_form_html() %}
    <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input type="text" class="form-control" id="prod_name" name="prod_name" tabindex="1" placeholder="Product Name">
    </div>
    <!--div class="form-group">
        <label for="exampleInputFile">Product Image</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div-->
    <!--div class="checkbox">
        <label>
          <input type="checkbox"> 
        </label>
    </div-->
    <h5>Options<small> (e.g. Size)</small></h5>
    <div class="form-group hide" id="options_table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th> 
                    <th>Price</th> 
                </tr>
            </thead>
            <tbody>
                <tr id="first_option_row">
                    <td class="name"></td>
                    <td class="price"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="option-group" class="form-inline">
        <div class="form-group" >
            <input type="text" class="form-control" id="option-name" tabindex="2" placeholder="Name (e.g. Small)">
            <!--p class="help-block"> (e.g. Small)</p-->
        </div>
        <div class="form-group" >
            <input type="text" class="form-control" id="option-price" tabindex="3" placeholder="Price (USD)">
        </div>
        <div class="form-group" >
            <a class="btn btn-default" role="button" tabindex="4" id="add_option_button">Add</a> 
        </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-default" tabindex="5">Submit</button>
</form>
{% end %}
