<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Create Transaction</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/css/grid.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div id="main-container" class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Rostovs Tab Admin</a>
            </div>
            <ul class="nav navbar-nav pull-right">
              <li class="active"><a href="/transactions">Transactions</a></li>
              <li><a href="/products">Products</a></li>
              <li><a href="/customers">Customers</a></li>
            </ul>
          </div>
        </nav>
        <div class="page-header">
            <h1>Create Transaction</h1>
            <p class="lead"></p>
        </div>
        <form method="POST" action="/transaction/create">
            {% module xsrf_form_html() %}
            <div class="form-group">
                <label for="exampleInputEmail1">Customer Id</label>
                <input type="text" class="form-control" id="customer_id" name="customer_id" placeholder="customer_id">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Total</label>
                <input type="text" class="form-control" id="total" name="total"  placeholder="$">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div> <!-- /container -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted"></p>
      </div>
    </footer>
</body>
</html>

