{% extends "base.html" %} 

{% block title %}
Transactions
{% end %}

{% block additional_js %} 
<script src="/js/transactions.js"></script>
{% end %}

{% block content %}
<div class="page-header">
    <h1>Transactions</h1>
    <p class="lead"></p>
</div>
<div class="form-group">
<button type="submit" class="btn btn-default transactions_csv">Download CSV</button>
</div>
<table class="table table-striped">
    {% module xsrf_form_html() %}
    <thead>
        <tr>
            <th>Customer Name</th> 
            <th>Date</th> 
            <th>Type</th> 
            <th>Total</th> 
        </tr>
    </thead>
    <tbody>
        {% from datetime import date %}
        {% for trans in transactions %}
            <tr>
                <td>{{ trans['cust_name'] }}</td>
                <td>{{ format_datestring(trans['trans_date']) }}</td>
                <td>{{ trans['trans_type'] }}</td>
                <td>{{ trans['trans_total'] }}</td>
            </tr>
        {% end %}
    </tbody>
</table>
{% end %}
